h1,
section {
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #f79489;
  text-decoration: none;
}

body {
  background-color: #f9f1f0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fadcd9;
}

.header-nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.header-nav a {
  padding: 1rem;
}

.header-title {
  color: #f8afa6;
}

.main {
  display: flex;
}
.menu-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #f79489;
}

.article-tab {
  width: 300px;
  border: 1px solid;
}

#container {
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  -ms-flex: 1; /* IE 10 */
  flex: 1 1;
  background-color: rgb(255, 110, 240);
}

#copyright {
  color: #f9f1f0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #f79489;
  padding: 3rem;
  margin: 0;
}

.grid-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 520px) {
  #container {
    background-color: #f8afa6;
  }
}
